doctype html
html( lang='en' )
  head
    title
      block title
    meta( charset='utf-8' )
    meta( http-equiv='utf-8' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link( href='css/main.css', rel='stylesheet', type='text/css' )
    script( src='js/main.js' )
  body
    block content
    
    
